@import "src/common/common";
.MainArea{
  width: 100vw;
  height: 200vh;
  background: #efefef;
  .mainTitleSection{
    width: 80vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    p:first-child{
      font-size: 20px;
      line-height: 2.0;
    }
    h1{
      font-family: 'PartialSansKR-Regular';
      font-size: 140px;
      animation: linear mainTitle infinite 5s;
      background: linear-gradient(to right top, #575555, #030303, #7f7f85);
      color: transparent;
      -webkit-background-clip: text;
    }
    p:last-child{
      font-size: 30px;
      line-height: 2.0;
      margin-bottom: 100px;
      margin-top: 100px;
      font-family: 'InkLipquid';
      text-align: right;
      color: #585e6b;
      text-shadow: 1px 1px 3px gray;
    }
  }


}
